h1, p {
  font-family: Lato;
}

.BSTable {
  border-style: ridge;
  border-width: 1px;
  border-color: grey;
  border-radius: 5px;
}

.BSTable td{
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  border-radius: 1px;
}


#formBasicText {
  background-color: lightblue;
}
